@import './base.css';
@import 'primeicons/primeicons.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5em;
  font-weight: normal;
  height: calc(100vh);
}
/* .p-megamenu-item-content {
  background-color: red;
} */
